/* Write your CSS here */
.app-store-bg-container {
    background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
    min-height: 100vh;
    padding: 10px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app-store-text {
    font-family: Bree Serif;
    color: #1e293b;
  }
  
  .search-box-container {
    width: 80%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #7b8794;
  }
  .input-box {
    font-size: 18px;
    width: 100%;
    background-color: transparent;
    outline: none;
    border-style: none;
    padding: 5px;
    padding-left: 20px;
    align-self: stretch;
    font-family: Bree Serif;
  }
  
  .search-icon {
    cursor: pointer;
    height: 30px;
    margin: 5px;
  }
  
  .apps-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    

    justify-content: center;
    align-items: center;
  }
  
  .tab-container {
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    width: 100%;
    max-width: 300px;
    justify-content: center;
    align-items: center;
  }
  .apps-section {
    height:300px;
    overflow-y:scroll;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Bree serif;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
  }
  .apps-section::-webkit-scrollbar {

    width: 4px;
}

.apps-section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.apps-section::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 100px;
}

  